@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(xl));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  box-shadow: 0 0 2px var(--c-button-normal);

  &--spMenu {
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
  }
}

.c-logo-label {
  &--header {
    font-size: clamp(
      map.get(setting.$fontRemSize, 2xl),
      (setting.breakpoints(overm)),
      map.get(setting.$fontRemSize, 3xl)
    );
  }

  &--footer {
    font-size: clamp(map.get(setting.$fontRemSize, l), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, xl));
  }
}

.c-pc-nav {
  flex-grow: 1;
}

.c-gnav-link {
  padding: setting.f-space-px(s) setting.f-space-px(m);
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: setting.f-space-px(3xs);
  background: currentcolor;
  border-radius: setting.f-border-radius(s);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: setting.f-space-px(3xs);
    content: "";
    background-color: currentcolor;
    border-radius: setting.f-border-radius(s);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -11px;
  }

  &::after {
    top: 11px;
  }

  [aria-expanded="true"] & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-sp-menu {
  --bg: #{rgba(map.get(setting.$sys-light, primary), 0.9)};

  @include tool.darkmode {
    --bg: #{rgba(map.get(setting.$sys-dark, primary), 0.9)};
  }

  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: var(--c-text-on-fill);
  pointer-events: none;
  visibility: hidden;
  background-color: var(--bg);
  opacity: 0;
  transition: all 0.3s ease-out;

  &[aria-hidden="false"] {
    right: 0;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-out;

    body:has(&) {
      overflow: hidden;
    }
  }
}

.c-sp-nav {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

.c-menu-item {
  display: flex;
  flex-grow: 1;
}

.c-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--c-text-on-fill);
    background: var(--c-text-hover);
  }
}
