@use "../settings" as setting;
@use "sass:map";

.c-content-l,
.c-content-m,
.c-label-l,
.c-label-m,
.c-entry p,
.c-card-link {
  letter-spacing: setting.f-letterspacing(m);
}

.c-content-l,
.c-content-m,
.c-suppl-l,
.c-suppl-m,
.c-entry p,
.c-card-link {
  font-weight: setting.f-fontweight(r);
  line-height: setting.f-lineheight(l);
}

.c-content-l,
.c-entry p,
.c-card-link {
  font-size: setting.f-font-remsize(m);
}

.c-content-m,
.c-label-l {
  font-size: setting.f-font-remsize(s);
}

.c-label-l,
.c-label-m {
  font-weight: setting.f-fontweight(m);
}

.c-label-m {
  font-size: setting.f-font-remsize(xs);
}

.c-suppl-l,
.c-suppl-m {
  letter-spacing: setting.f-letterspacing(s);
}

.c-suppl-l {
  font-size: setting.f-font-remsize(xs);
}

.c-suppl-m {
  font-size: setting.f-font-remsize(2xs);
}

.c-notes {
  padding-left: calc(setting.f-space-em(s) + setting.f-space-em(xs));
  text-indent: calc(-1 * (setting.f-space-em(s) + setting.f-space-em(xs)));

  &::before {
    margin-right: setting.f-space-em(xs);
    content: "*";
  }
}

.c-logo-link {
  color: currentcolor;

  &:hover,
  &:focus {
    svg {
      opacity: 0.75;
      transition: all 0.25s ease;
    }
  }
}

.c-entry a,
.c-text-link {
  color: var(--c-text-link);

  .u-bg-primary &,
  .u-bg-brand-alpha &,
  .u-bg-invert & {
    color: var(--c-text-on-fill);
  }

  &:visited {
    color: var(--c-text-visited);

    .u-bg-primary &,
    .u-bg-brand-alpha & {
      color: color-mix(in oklab, var(--c-button-normal), var(--c-text-on-fill) 40%);
    }

    .u-bg-invert & {
      color: color-mix(in oklab, var(--c-text-body), var(--c-text-on-fill) 40%);
    }
  }
}

.c-logo-link,
.c-gnav-link,
.c-menu-link,
.c-tel-link,
.c-entry a,
.c-text-link,
.c-ft-link {
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    color: var(--c-text-hover);
  }
}

.c-entry a,
.c-text-link--underline {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-gnav-link,
.c-menu-link,
.c-text-link--full-wide,
.c-lightbox-photo,
.c-ft-link {
  display: block;
  word-break: break-word;
  overflow-wrap: break-word;
}

.c-link-card {
  height: 100%;
  border-color: var(--c-border-divider);
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    border-color: color-mix(in oklab, var(--c-button-normal), map.get(setting.$sys-light, onContainer) 15%);
  }

  &:focus {
    outline-style: solid;
    outline-color: var(--c-button-normal);
  }
}

.c-card-link {
  display: -webkit-box;
  overflow: hidden;
  color: var(--c-text-body);
  transition: all 0.25s ease;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--trim);

  --trim: 2;

  &--one-line {
    --trim: 1;
  }

  .o-box--blog-card:visited & {
    color: var(--c-text-visited);
  }

  .o-box--blog-card:hover &,
  .o-box--blog-card:focus & {
    color: var(--c-text-hover);
  }
}

.c-share-parent {
  position: relative;

  .o-icon {
    position: absolute;
    top: 50%;
    left: setting.f-space-em(m);
    transform: translateY(-50%);
  }
}

.c-author-name {
  display: table;
  width: min(setting.breakpoints(overs), 100%);
  min-width: max-content;
}

.c-inner-box {
  padding: clamp(0px, (setting.breakpoints(underm)), setting.f-space-px(m))
    clamp(setting.f-space-px(m), (setting.breakpoints(overm)), setting.f-space-px(l));

  &--max-content {
    max-width: clamp(640px, setting.breakpoints(underm), 100%);
    margin: auto;
  }
}

.c-lightbox-photo {
  cursor: zoom-in;

  & .o-frame > * {
    transition: all 0.25s ease-out;
  }

  &:hover,
  &:focus {
    & .o-frame > * {
      opacity: 0.7;
      transform: scale(1.1);
    }
  }
}

.c-faq {
  &__q,
  &__a {
    position: relative;
    padding: 0 clamp(setting.f-font-remsize(m), (setting.breakpoints(overs)), setting.f-font-remsize(l));

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: setting.$font-family-en-condensed;
      font-size: clamp(setting.f-font-remsize(m), (setting.breakpoints(overs)), setting.f-font-remsize(l));
      font-weight: setting.f-fontweight(b);
    }
  }

  &__q {
    border-bottom: solid 1px currentcolor;

    &::before {
      color: var(--c-button-normal);
      content: "Q";
    }
  }

  &__a {
    &::before {
      color: var(--c-status-alert);
      content: "A";
    }
  }
}

.js-pull-view {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    content: "";
    background: var(--c-bg-qua);
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.is-view {
    opacity: 1;

    &::after {
      transform: translateX(100%);
    }
  }
}

.js-fade-up {
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translateY(50px);

  &.is-view {
    opacity: 1;
    transform: translateY(0);
  }
}
